<div class="container">
  <% if @users_found.empty? %>
    <h1>No users with <%= @search_param %></h1>
  <% else %>
      <h1>Users with <%= @search_param %></h1>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <% @users_found.each do |user| %>
            <tr>
              <td><a href="#"><%= user["name"] %></a></td>
              <td><%= user["email"] %></td>
              <td><%= user["phone"] %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
  <% end %>

  <div class="search-by-email-form">
  <%= form_with url: '/zendesk/users/search_results', method: 'get', local: true do |form| %>
    <div class="row">
      <div class="col-sm-10">
        <%= form.text_field :search, placeholder: "user@example.com", class: "input-form" %>
      </div>
      <div class="col-sm-2">
        <%= form.submit "Lookup by Email", name: nil, class: "btn btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
</div>
