<div class='container'>

  <% if @id %>
    <table class='table existing-tickets'>
      <tr class='info note'>
        <td style="vertical-align: middle; text-align: center;">
          Is <b><%= @name %></b> calling about an
          <b><%= link_to 'existing Zendesk ticket', "https://callrail1472494564.zendesk.com/agent/users/#{@id}/tickets", target: '_blank' %>?</b>
        </td>
      </tr>
    </table>
  <% end %>

  <h1>Create New Ticket</h1>
  <p>Verify the caller's <b>name</b>, <b>email</b>, and <b>phone number</b>.</p>
  <%= form_with url: '/zendesk/tickets/create', method: 'post', class: 'form-horizontal', local: true do |form| %>
      <%= render :partial => @partial, :locals => {:form => form} %>
    <div class='form-group'>
      <%= form.label :subject, class: 'col-sm-2 control-label' %>
      <div class='col-sm-10'>
        <%= form.text_field :subject, readonly: true, class: 'form-control', value: 'Phone Call Ticket' %>
      </div>
    </div>
    <div class='form-group'>
      <%= form.label :description, class: 'col-sm-2 control-label' %>
      <div class='col-sm-10'>
        <%= form.text_area :description, class: 'form-control', rows: '6', required: true %>
      </div>
    </div>
    <%= form.submit 'Create New Ticket', name: nil, class: 'btn btn-primary', style: 'float: right;'%>
  <% end %>
</div>

