<!DOCTYPE html>
<html>
  <head>
    <title>Cti</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
<div>
<%= render 'layouts/header'%>
</div>
<body>
    <%= render 'layouts/messages' %>
    <%= yield %>

    <% if current_user%>
      <footer>
      
      </footer>
    <% end %>
</body>
</html>
